@import "tailwindcss";

body {
  background-color: #0c0e0f;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

html {
  font-family: "Inter", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}
