@import "tailwindcss";

@keyframes breaking-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-breaking-scroll {
  animation: breaking-scroll 25s linear infinite;
}

.mask-fade {
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);
  mask-image: linear-gradient(to bottom, black 80%, transparent);
}

.scrollbar-mini::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-mini::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-mini::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
}

.scrollbar-mini::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.scrollbar-mini {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}

body {
  background-color: #0c0e0f;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

html {
  font-family: "Inter", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}
